SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide-wal
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide-shm
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/db.lock
SeleniumFirst/.vs/SeleniumFirst/v15/.suo
SeleniumFirst/.vs/SeleniumFirst/DesignTimeBuild/.dtbcache
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide
SeleniumFirst/SeleniumFirst/obj/SeleniumFirst.csproj.nuget.g.props
SeleniumFirst/SeleniumFirst/obj/SeleniumFirst.csproj.nuget.cache
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.runtimeconfig.json
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.runtimeconfig.dev.json
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.deps.json
SeleniumFirst/SeleniumFirst/obj/project.assets.json
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csproj.CoreCompileInputs.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.assets.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.AssemblyInfoInputs.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csprojAssemblyReference.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csproj.FileListAbsolute.txt
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.csproj.CoreCompileInputs.cache
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.assets.cache
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.AssemblyInfoInputs.cache
SeleniumFirst/SeleniumFirst/bin/Release/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/bin/Release/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.dll
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.pdb
SeleniumFirst/SeleniumFirst/bin/Release/netcoreapp2.2/chromedriver.exe
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.csproj.CoreCompileInputs.cache
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.csprojAssemblyReference.cache
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.assets.cache
SeleniumFirst/SeleninumTests/obj/SeleninumTests.csproj.nuget.cache
SeleniumFirst/SeleninumTests/bin/Debug/netstandard2.0/SeleninumTests.pdb
SeleniumFirst/SeleninumTests/bin/Debug/netstandard2.0/SeleninumTests.dll
SeleniumFirst/SeleninumTests/obj/SeleninumTests.csproj.nuget.g.targets
SeleniumFirst/SeleninumTests/obj/Debug/netstandard2.0/SeleninumTests.AssemblyInfoInputs.cache
SeleniumFirst/SeleninumTests/obj/SeleninumTests.csproj.nuget.g.props
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.pdb
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.dll
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.csprojAssemblyReference.cache
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.csproj.CoreCompileInputs.cache
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.assets.cache
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.AssemblyInfoInputs.cache
SeleniumFirst/SeleninumTests/bin/Release/netstandard2.0/SeleninumTests.pdb
SeleniumFirst/SeleninumTests/bin/Release/netstandard2.0/SeleninumTests.dll
SeleniumFirst/SeleniumFirst/obj/SeleniumFirst.csproj.nuget.g.targets
SeleniumFirst/SeleniumFirst/obj/Release/netcoreapp2.2/SeleniumFirst.csprojAssemblyReference.cache
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.pdb
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.dll
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/xunit.runner.visualstudio.dotnetcore.testadapter.dll
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/xunit.runner.utility.netcoreapp10.dll
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/xunit.runner.reporters.netcoreapp10.dll
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/BDDfy.html
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/XUnitTestProject1.pdb
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/XUnitTestProject1.dll
SeleniumFirst/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.targets
SeleniumFirst/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.g.props
SeleniumFirst/XUnitTestProject1/obj/XUnitTestProject1.csproj.nuget.cache
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/XUnitTestProject1.runtimeconfig.json
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/XUnitTestProject1.runtimeconfig.dev.json
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/XUnitTestProject1.deps.json
SeleniumFirst/XUnitTestProject1/obj/project.assets.json
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.csprojAssemblyReference.cache
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.csproj.CoreCompileInputs.cache
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.assets.cache
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.AssemblyInfoInputs.cache
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.AssemblyInfo.cs
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.csproj.FileListAbsolute.txt
SeleniumFirst/SeleninumTests/bin/Release/netstandard2.0/SeleninumTests.deps.json
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.Program.cs
SeleniumFirst/SeleninumTests/bin/Release/netstandard2.0/chromedriver.exe
SeleniumFirst/XUnitTestProject1/obj/Debug/netcoreapp2.2/XUnitTestProject1.csproj.FileListAbsolute.txt
SeleniumFirst/SeleninumTests/obj/Release/netstandard2.0/SeleninumTests.AssemblyInfo.cs
SeleniumFirst/XUnitTestProject1/bin/Debug/netcoreapp2.2/chromedriver.exe
