SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide-wal
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide-shm
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/db.lock
SeleniumFirst/.vs/SeleniumFirst/v15/.suo
SeleniumFirst/.vs/SeleniumFirst/DesignTimeBuild/.dtbcache
SeleniumFirst/.vs/SeleniumFirst/v15/Server/sqlite3/storage.ide
SeleniumFirst/SeleniumFirst/obj/SeleniumFirst.csproj.nuget.g.props
SeleniumFirst/SeleniumFirst/obj/SeleniumFirst.csproj.nuget.cache
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.runtimeconfig.json
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.runtimeconfig.dev.json
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleniumFirst/bin/Debug/netcoreapp2.2/SeleniumFirst.deps.json
SeleniumFirst/SeleniumFirst/obj/project.assets.json
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csproj.CoreCompileInputs.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.assets.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.AssemblyInfoInputs.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.pdb
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.dll
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csprojAssemblyReference.cache
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SeleniumFirst/SeleniumFirst/obj/Debug/netcoreapp2.2/SeleniumFirst.csproj.FileListAbsolute.txt
